*{
	font-family: 'Roboto Condensed', sans-serif;
	outline: none !important;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

hr {
	border: none;
	border-top: 1px solid rgba(0,0,0,0.3);
}
body{
	padding: 10px;
	/* background-color: #DFEAE4; */
}
#messages{
	display: inline-block;
	color: #555;
}
#messages li{
	display: inline-block;
	width: 300px;
	margin: 0 10px 10px 0;
}

#messages li .env::before{
	display: inline-block;
	width: 100%;
	content: "environment";
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}
#messages li .currentcount::before{
	display: inline-block;
	width: 100%;
	content: "Completed Percentage";
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}
#messages li .initcount::before{
	display: inline-block;
	width: 100%;
	content: "Initial Count";
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
}

#messages li .env{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-size: 30px;
	padding: 20px;
	background-color: #3F51B5;
	color: #fff;
}
#messages li .currentcount{
	display: inline-block;
	width: 100%;
	text-align: center;
	background-color: #F6BB42;
	color: rgba(0,0,0,0.5);
	font-size: 30px;
	padding: 20px;
}

#messages li[data-percentage-complete="100"] .env{
	background-color: #ddd;
    color: rgba(0,0,0,0.5);
}
#messages li[data-percentage-complete="100"] .currentcount i.fa{
	background-color: #fff;
    color: #4CAF50;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 25px;
}
#messages li[data-percentage-complete="100"] .currentcount{
	background-color: #aaa;
	color: rgba(0,0,0,0.5);
}